* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}
html, body {
	margin: 0;
	font-family: Lato;
}
a {
	text-decoration: none;
	color: #5ca5b4;
	cursor: pointer;
}
hr {
	width: 75%;
}
.button {
	color: white;
	border: 1px solid white;
}
.button:hover {
	background: white;
	color: #666;
	border: 1px solid white;
}
.emphasize {
	font-weight: bold;
	font-style: italic;
	color: #c78989;
}
.sub-titles {
	color: #c78989;
	text-transform: lowercase;
}
/*.button{
	background: white;
	border: 1px solid #5ca5b4;
	color: #5ca5b4;
}
.button:hover {
	background: #5ca5b4;
	color: white;
	border-color: #5ca5b4;
}*/
/* Header */
#header {
	text-align: center;
}
#header h5 em {
	color: #5ca5b4;
}
#title {
	margin-top: 50px;
	text-transform: uppercase;
	font-weight: bold;
}
/* About Section */
#about-left {
	text-align: center;
}
#photo-me {
	width: 100%;
}
.social-icons {
	margin-top: 20px;
}
.fa-file-text-o, .fa-linkedin-square, .fa-github-square {
	padding-right: 20px;
}
#contact-title {
	margin-top: 20px;
	margin-bottom: 20px;
}
#about-right hr {
	display: none;
}
#hi {
	margin-bottom: 0;
	color: #5ca5b4;
}
#blurb {
	color: #5ca5b4;
	margin-bottom: 5px;
}
#collage {
	width: 100%;
}
/* Projects & Experience */
.project {
	position: relative;
}
.project-imgs {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.overlay {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, .5);
  /*cursor: pointer;*/
}
.project:hover .overlay {
	opacity: 1;
}
.hover-text {
	text-align: center;
	color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 15px;
}
.hover-text h5 {
	text-transform: uppercase;
	margin-bottom: 0;
}
.hover-text p {
	font-size: 17px;
	margin-bottom: 10px;
}
.hover-text i {
	color: #5ca5b4;
}
.hover-text .button {
	padding: 0px 15px;
}
.hover-text .view-source-btn {
	margin-left: 5px;
}
@media screen and (max-width: 650px) {
	.hover-text h5 {
		font-size: 20px;
	}
	.hover-text p {
		font-size: 15px;
	}
	.hover-text .button {
		padding: 0px 10px;
		font-size: 10px;
	}
}
@media screen and (max-width: 549px) {
	#about-right hr {
		display: block;
	}
	.overlay {
		opacity: 1;
	}
}
/*.timeline {
	width: 100%;
	padding: 50px 0;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}
.timeline::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #CCD1D9;
	z-index: 1;
}s
.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}
.timeline-block-right {
   float: right;
}
.timeline-block-left {
   float: left;
   direction: rtl
}
.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #5ca5b4;
   margin-top: 25px;
   z-index: 9999;
}
.marker-exp {
	background: #c9302c;
}
.timeline-content {
   width: 100%;
   padding: 15px 15px;
}
@media screen and (max-width: 768px) {
	.timeline::before {
	  left: 0;
	  width: 2px;
	}
	.timeline-block {
	  width: 100%;
	  margin-bottom: 30px;
	}
	.timeline-block-right {
	  float: none;
	}
	.timeline-block-left {
	  float: none;
	  direction: ltr;
	}
}*/
/* Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content h4 {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}
.modal-content .subheaders {
	text-transform: lowercase;
	margin-bottom: 0;
	color: #5ca5b4;
}
.modal-content .button {
	background: white;
	border: 1px solid #5ca5b4;
	color: #5ca5b4;
	margin-bottom: 10px;
}
.modal-content .button:hover {
	background: #5ca5b4;
	color: white;
	border-color: #5ca5b4;
}
.modal-content img {
	width: 100%;
	margin-bottom: 15px;
}
#bucket-modal .modal-content .button {
	margin-bottom: 20px;
	margin-right: 20px;
}
#mopa-modal .modal-content #mopa-progress h6 {
	margin-bottom: 0px;
	font-weight: bold;
}
.modal-content ul {
	padding-left: 40px;
	list-style-position: outside;
}
.modal-content li {
	margin-bottom: 0px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  margin-right: 50px;
  margin-top: -10px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Footer */
#footer {
	text-align: center;
	margin-bottom: 35px;
}
#reach-me {
	margin-bottom: 0;
}
#copyright {
	color: #666;
	font-size: 12px;
	margin-top: 10px;
}